<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeTasks-dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="app">
        <h1>HomeTasks-dashboard</h1>
        <ul id="todo-list">
            {% for item in items %}
                {% set item_date = item.date_added | to_datetime %}
                {% set time_difference = (current_time - item_date).total_seconds() / 86400 %}
                <li class="{% if time_difference < item.lifespan / 2 and time_difference >= 0 %}green{% elif time_difference >= item.lifespan / 2 and time_difference < item.lifespan %}yellow{% else %}red{% endif %}" title="Lifespan: {{ item.lifespan }} days, Added: {{ item.date_added }}">
                    <span class="refresh-icon" data-index="{{ loop.index0 }}">↻</span>
                    {{ item.string }}
                </li>
            {% endfor %}
        </ul>
        <input type="text" id="new-item" placeholder="Task">
        <input type="number" id="new-lifespan" placeholder="Lifespan (in days)" step="0.1">
        <button id="add-button">Add</button>
    </div>
    <script src="/static/app.js"></script>
</body>
</html>